<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TensileTesterSharer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TensileTesterSharer.TestSetup" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TensileTesterSharer.Properties.TestSetup" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TensileTesterSharer.Properties.Settings>
            <setting name="BrkForce" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RetOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncFac" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadFac" serializeAs="String">
                <value>0</value>
            </setting>
        </TensileTesterSharer.Properties.Settings>
        <TensileTesterSharer.TestSetup>
            <setting name="RetOffset" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BrkForce" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EncFactor" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="LoacellCall" serializeAs="String">
                <value>-12500</value>
            </setting>
        </TensileTesterSharer.TestSetup>
        <TensileTesterSharer.Properties.TestSetup>
            <setting name="BrkForce" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RetOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncFactor" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LoadCellFactor" serializeAs="String">
                <value>-12600</value>
            </setting>
        </TensileTesterSharer.Properties.TestSetup>
    </userSettings>
</configuration>